*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* header section */
/* navbar section */
/* main content section */
/* banner section */
/* about us section */
/* our philosophy section */
/* footer section */
