*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black-color: #111;
    --white-color: rgba(255, 255, 255, 0.9);
    --secondary-color: #e3e0e0dd;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    padding: 0.413rem;
    border-radius: 3x;
}
a:hover{
    color: var(--white-color);
    background-color: var(--black-color);
}


/* header section */
header{
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
/* navbar section */
nav{
    width: 100%;
    max-width: 80%;
    margin: auto;
}
nav ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;    
}
nav ul li a img{
    width: 100px;
}
nav ul li a{
    font-size: 0.813rem;
    text-transform: uppercase;
}
nav .fa-cart-shopping{
    font-size: 0.813rem;
    position: relative;
}
nav .bars{
    display: none;
}
#quantity{
    font-size: 0.625rem;
    position: absolute;
    top: -15px;
    right: -5px;
    padding: 1.5px 4px;
    border-radius: 10px;
    background-color: var(--black-color);
    color: var(--white-color);
}
/* end header design  */



/* main content section design */

/* banner section design */
.banner-section{
    width: 100%;
    height: 100vh;
    background-image: url('../images/bg/bg.jpg');
    background-position: center;
    background-size: cover;

}
/* end banner section design */


/* about us section */
.about-section{
    width: 100%;
    padding: 3rem 0;
    text-align: center;
}
.about-section h2{
    font-size: 1.413rem;
    text-transform: uppercase;
}
.about-section #p{
    max-width: 60%;
    margin: 1rem auto;
    text-align: center;
    font-size: 1.125rem;
}
.about-section #img{
    height: 20px;
    margin-bottom: 2rem;
}
.about-section .pictures{
    background-color: var(--secondary-color);
    padding: 2rem 0;    
}
.about-section .pictures .div{
    width: fit-content;
    display: grid;
    grid-template-columns: 275px 275px 275px;
    gap: 1rem;
    margin: auto;
}
.about-section .picture{
    padding: 10px;
    border-radius: 5px;
    background-color: var(--white-color);
    cursor: pointer;
}
.about-section .picture img{
    width: 100%;
}
.about-section .picture #img-2{
    display: none;
}
.about-section .picture:hover #img-1{
    display: none;
}
.about-section .picture:hover #img-2{
    display: block;
}
.about-section .picture h3{
    text-transform: uppercase;
    font-size: 0.813rem;
    margin-top: 1rem;
}
.about-section .picture p{
    text-transform: uppercase;
    font-size: 0.413rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}
/* end about us section */


/* our philosophy section */
.phy-section{
    padding-top: 2rem;
    text-align: center;
}
.phy-section h2{
    font-size: 1.413rem;
    font-weight: 800;
    text-transform: uppercase;
}
.phy-section .para{
    width: 80%;
    margin: auto;
    display: flex;
    text-align: justify;
    gap: 1rem;
    line-height: 1.425rem;
    padding: 2rem 0;
}
.phy-section .p{
    font-weight: 900;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    width: 50%;
    margin: auto;
    line-height: 2.5rem;
}

.phy-section .block{
    width: 100%;
    background-color: var(--secondary-color);
}
.phy-section .block .row{
    display: flex;
}
.phy-section .block .row div{
    min-height: 75vh;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.phy-section .row-1 .left img,
.phy-section .row-2 .right img{
    width: 100%;
    height: 100%;
}
.phy-section .row-1 .right{
    align-items: flex-start;
}
.phy-section .row-2 .left {
    align-items: flex-end;
}
.phy-section .row-1 .right,
.phy-section .row-2 .left {
    padding: 1rem;
}
.phy-section .row p{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.5);
}
.phy-section .row h3{
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.phy-section .row .btn{
    width: fit-content;
    padding: 15px 30px;
    border: none;
    border: none;
    background-color: var(--black-color);
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
.phy-section .row .btn:hover{
    background-color: var(--white-color);
    color: var(--black-color);
}
.phy-section .img{
    width: 100%;
    min-height: 50vh;
    padding: 1rem;
    background-color: var(--secondary-color);
}
.phy-section .img img{
    width: 100%;
}
.phy-section .p-2{
    width: 100%;
    padding: 5% 20%;
    font-size: 1.5rem;
    line-height: 2.75rem;
    background-color: var(--secondary-color);
}
.phy-section .products{
    width: 100%;
    background-color: var(--secondary-color);
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.phy-section .product{
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 5px;
}
.phy-section .product img{
    width: 100%;
}
.phy-section .product p{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.25rem;
    margin: 5%;
}
/* end our philosophy section */

/* footer section */
footer{
    width: 100%;
    background-color: var(--black-color);
    padding: 2rem;
}
footer .heading{
    text-align: center;
}
footer .heading img{
    height: 80px;
}
footer .content{
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 1rem;
}
footer h3{
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--white-color);
}
footer .content div{
    padding: 1rem;
    color: var(--white-color);
}
footer .content div:first-child img{
    max-width: 100%;
}
footer .product{
    display: flex;
    align-items: center;
    
}
footer .product img{
    width: 60px;
}
footer .product p{
    text-align: center;
    margin-left: 10%;
}
footer .product p span{
    color: var(--secondary-color);
}
footer .posts p{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.125rem;
}
footer .posts p span{
    color: var(--secondary-color);
}
footer .social{
    margin: 1rem 0;
}
footer .social p{
    margin: auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
}
footer .social p i{
    color: var(--white-color);
    cursor: pointer;
}
footer .para,
footer .para a{
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}
 /* end footer section */
